# 系统文件
.DS_Store
.demo/
.idea/
.vscode/

# 日志和环境
*.log
.env
.venv
.cache
.npmrc
.env.development

# 构建产物
dist/
build/

# python
tmp/*
venv/*
storage/*
llmops-api/storage/*
llmops-api/internal/core/embeddings/*
__pycache__/
*.pyc

# 前端
